# Pastas para compilação
TivaWare_C_Series-2.2.0.295
# Pastas de exemplo
MyBlinky
MyBlinky2
MyBlinky3
MyBlinky4
TLcd.c
OLED_EKTM4C1294XL_ShieldI2C
Elevador2
# Pasta com app de leitura e escrita serial
SerialComunication
# Curso de RTOS
Drivers
RTOS_Lab
# Simulador
Elevador/Simulador